/*@media only screen and (orientation : landscape) {

    .tool{
        display: none;
    }
    .feet{
        display: none;
    }
    .menurcette{
        display: none;
    }
    .ad ul{
        top:0;
        bottom:0;
    }
}
*/

/*landscape*/


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .tool{
        display: none;
    }
    .feet{
        display: none;
    }
    .menurcette{
        display: none;
    }
    .ad ul{
        position: fixed;
        top:0;
        bottom:0;
    }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .tool{
        display: none;
    }
    .feet{
        display: none;
    }
    .menurcette{
        display: none;
    }
    .ad ul{
        position: fixed;
        top:0;
        bottom:0;
    }

}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .tool{
        display: none;
    }
    .feet{
        display: none;
    }
    .menurcette{
        display: none;
    }
    .ad ul{
        position: fixed;
        top:0;
        bottom:0;
    }

}
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
      .tool{
        display: none;
    }
    .feet{
        display: none;
    }
    .menurcette{
        display: none;
    }
    .ad ul{
        position: fixed;
        top:0;
        bottom:0;
    }

}
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) {
     .tool{
        display: none;
    }
    .feet{
        display: none;
    }
    .menurcette{
        display: none;
    }
    .ad ul{
        position: fixed;
        top:0;
        bottom:0;
    }
}
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
      .tool{
        display: none;
    }
    .feet{
        display: none;
    }
    .menurcette{
        display: none;
    }
    .ad ul{
        position: fixed;
        top:0;
        bottom:0;
    }
}
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
     .tool{
        display: none;
    }
    .feet{
        display: none;
    }
    .menurcette{
        display: none;
    }
    .ad ul{
        position: fixed;
        top:0;
        bottom:0;
    }

}
/*@media screen and (orientation: landscape){
    .tool{
        display: none;
    }
    .feet{
        display: none;
    }
    .menurcette{
        display: none;
    }
    .ad ul{
        position: fixed;
        top:0;
        bottom:0;
    }

}*/
